#m{
    width: 880px;
    height: 384px;
    margin: auto;
    border: 0px solid teal;
    margin-top: 100px;
    background-color: white;
}
#m>div>h1{
    font-family: sans-serif;
    font-size: 48px;
    text-align: center;
}
#m>div>h3{
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    color: #767676;
    word-spacing: 0px;
    line-height: 29px;
    /* justify-content: center */
    text-decoration: none;
}
#m>div>.button{
    border: 1px solid #57bb81;
    width: 190px;
    height: 150px;
    margin-left: 40%;
    color: teal;
    border-radius: 5px;
}
#m>div>.button:hover{
    background-color: #1abf68;
    color: white;
}
#m>div>button>i>img{
    width: 20px;
    height: 20px;
}
small{
    text-align: center;
    color: #7c7c7c;
}



button{
    /* display: block; */
    margin: auto;
    padding: 15px;
    width: 215px;
    border: 1px solid rgb(0, 128, 96);
    background-color: white;
    border-radius: 5px;
    color: #57bb71;
    font-size: 16px;
    margin-left: 300px;
}
button:hover{
    background-color: #57bb71;
    color: white;
}
.sm{
    /* border: 1px solid red; */
    width: 400px;
    margin: auto;
    font-size: 18px;
}
button>img{
    width: 30px;
}
button>span{
    padding: 2px;
}
#top_section{
    width: 90%;
    height:auto;
    margin: auto;
    /* border: 1px solid teal; */
}
#top_section>div{
    width: 960px;
    height: 600px;
    border: 0px solid red;
    margin: auto;
}
#top_2{
    width: 90%;
    height: 760px;
    margin: auto;
    /* border: 1px solid teal; */
    margin-top: 150px;
    display: flex;
}
#top_2>div:nth-child(1){
    width: 40%;
    height: 660px;
    border: 0px solid red;
}

#top_2>div:nth-child(2){
    width:60%;
    height: 650px;
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
#top_2>div>div{
    width: 320px;
}
#top_2>div:nth-child(2)>div{
    border: 0px solid red;
}
/* #top_2>div:nth-child(2)>div>span{
   background-color: orange;
} */
#top_2>div>div>p>span{
    background-color:#ffff0059;
}
#rrr{
    width: 60%;
    border: 0px solid;
    height: 700px;
    margin: auto;
    font-family: sans-serif;
    line-height: 23px;
    font-size: large;
}
#rrr>div>h2{
    color: #333333;
    font-family: sans-serif;
    line-height: 43px;
    font-size: 32px;
}
#rrr>div>p{
    color: #333333;
}
#rr{
    width: 60%;
    border: 0px solid green;
    height:80%;
    margin: auto;
}
#rr>img{
    width: 100%;
}
#star{
    width: 100%;
    height: 150px;
    border: 0px solid teal;
    margin-top: 180px;
    /* text-align: center; */
    background-color: #a7c3d917;
    display: flex;

}
#star>div:nth-child(1){
    width: 10%;
    border: 0px solid teal;
    margin-left: 300px;
    margin-top: 50px;


}
#star>div:nth-child(2){
    margin-top: 41px;
    width: 70%;
    border: 0px solid teal;


}
.checked {
    color: orange;
     width: 20px;
    }
    #sam{
    height: 58  0px;
    width: 90%;
    border: 0px solid teal;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
#sam>div:nth-child(1){
    width: 450px;
    border: 0px solid salmon;
    margin: auto;
    margin-top: 20px;
}
#sam>div:nth-child(2){
    text-align: center;
    width: 550px;
    height: 600px;
    border: 0px solid salmon;
    margin: auto;
    margin-top: 20px;
}
#six{
margin: 110px 20vw 0 20vw;
text-align: center;
width: 60vw;
display: grid;

}
#six img{
width: 10%;
height: 50px;
}

#read{
width: 90%;
height: 1000px;
border: 0px solid red;
margin: auto;
margin-top: 50px;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
grid-template-rows: auto;
}
#read>div{
border: 0px solid green;
line-height: 20px;
padding: 20px;
height: auto;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#read_button{
width: 15%;
border: 0px solid red;
margin: auto;
margin-top: 20px;
}
#tracker{
    width: 85%;
    border: 0px solid red;
    height: 80px;
    margin: auto;
    display: flex;
    background-position: 0 0;

}
#tracker>div{
    border: 0px solid red;
    width: 88px;
    height: 80px;
    margin: auto;    
}
#tracker>div:nth-child(1){
background-color: #000;
background: url("https://blog-cdn.everhour.com/assets/images/new-design/icons/sprite-badges.png");
background-size: 167px;
background-position: 0 0;

}
#tracker>div:nth-child(2){
    background-color: #000;
    background: url("data:image/svg+xml;utf8,%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2278%22%20height%3D%2264%22%20viewBox%3D%220%200%20724.3%20600%22%3E%3Cdefs%3E%3Cstyle%3E.bcc294ff%7Bfill%3A%23002e47%7D.bd87d6e4%7Bfill%3A%23fff%7D.ad5a52ff%7Bfill%3A%23e54747%7D.bd912efd%7Bopacity%3A.4%7D.f93ea126%7Bfill%3A%23ff9d28%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22a258e5b8-91f7-42ff-a173-2105d41a2bbb%22%20%3E%3Cg%20id%3D%22b118bfbd-09c9-4191-9e26-02a5a10d2283%22%3E%3Cpath%20class%3D%22bcc294ff%22%20d%3D%22M653%20266c-35%20146-174%20275-291%20334-117-59-255-188-291-334C48%20169%2056%2065%2071%200h582c15%2065%2023%20169%200%20266Z%22%2F%3E%3Cpath%20class%3D%22bd87d6e4%22%20d%3D%22m362%20579-1-1c-59-31-117-77-164-129-55-60-92-124-107-187-17-72-19-162-4-241v-2h552v2c15%2079%2014%20169-4%20241-15%2063-52%20127-106%20187-48%2052-106%2098-165%20129ZM91%2024c-14%2078-13%20166%204%20237%2015%2061%2051%20125%20106%20185%2046%2051%20104%2096%20161%20127%2058-31%20115-76%20162-127%2054-60%2090-124%20105-185%2017-71%2019-159%204-237Z%22%2F%3E%3Cpath%20class%3D%22ad5a52ff%22%20d%3D%22m0%20333%2037-119h87L87%20333H0z%22%2F%3E%3Cg%20class%3D%22bd912efd%22%3E%3Cpath%20class%3D%22bcc294ff%22%20d%3D%22m35%20360%2038-119%2051-27-37%20119-52%2027z%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22ad5a52ff%22%20d%3D%22m724%20268-37%20119h-87l37-119h87z%22%2F%3E%3Cg%20class%3D%22bd912efd%22%3E%3Cpath%20class%3D%22bcc294ff%22%20d%3D%22m689%20241-37%20119-52%2027%2037-119%2052-27z%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22f93ea126%22%20d%3D%22m689%20241-37%20119H35l38-119h616z%22%2F%3E%3Cpath%20class%3D%22bcc294ff%22%20d%3D%22M175%20312q-1%2010-8%2015t-19%206a36%2036%200%200%201-9-1%2021%2021%200%200%201-7-3l2-16a33%2033%200%200%200%208%204%2026%2026%200%200%200%209%202%208%208%200%200%200%205-2%205%205%200%200%200%202-3%204%204%200%200%200-1-3%207%207%200%200%200-1-2%2063%2063%200%200%200-4-4%2024%2024%200%200%201-7-8%2018%2018%200%200%201-1-10%2021%2021%200%200%201%204-10%2022%2022%200%200%201%209-7%2028%2028%200%200%201%2012-2%2034%2034%200%200%201%2018%204l-7%2013q-7-4-12-4a7%207%200%200%200-5%201%205%205%200%200%200-2%204%206%206%200%200%200%201%204%2027%2027%200%200%200%205%205%2023%2023%200%200%201%207%208%2017%2017%200%200%201%201%209ZM228%20332h-17l8-26h-15l-9%2026h-17l22-64h17l-8%2024h15l8-24h17ZM286%20267q11%200%2016%207t5%2018a56%2056%200%200%201-7%2021%2041%2041%200%200%201-14%2015%2034%2034%200%200%201-18%205q-12%200-18-7t-4-18a54%2054%200%200%201%207-21%2041%2041%200%200%201%2014-15%2035%2035%200%200%201%2019-5Zm3%2025q1-5-1-8c-1-2-3-3-5-3-3%200-6%202-9%204a30%2030%200%200%200-7%2010%2044%2044%200%200%200-4%2013q-1%2011%208%2011%204%200%208-4a29%2029%200%200%200%207-10%2046%2046%200%200%200%203-13ZM329%20309l-8%2023h-17l21-64h17q11%200%2016%205t4%2013a25%2025%200%200%201-4%2012%2023%2023%200%200%201-10%207l8%2027h-18l-6-23Zm4-13h2a10%2010%200%200%200%2010-9%205%205%200%200%200-1-4%206%206%200%200%200-4-2h-2ZM385%20332h-17l16-50h-14l5-14h45l-5%2014h-14ZM408%20332l21-64h17l-16%2050h20l-5%2014ZM454%20332l21-64h18l-22%2064ZM528%20312q-2%2010-9%2015t-18%206a36%2036%200%200%201-9-1%2021%2021%200%200%201-7-3l2-16a33%2033%200%200%200%208%204%2026%2026%200%200%200%208%202%208%208%200%200%200%205-2%205%205%200%200%200%202-3%204%204%200%200%200%200-3%208%208%200%200%200-1-2l-5-4a24%2024%200%200%201-6-8%2018%2018%200%200%201-1-10%2021%2021%200%200%201%204-10%2023%2023%200%200%201%209-7%2028%2028%200%200%201%2012-2%2034%2034%200%200%201%2018%204l-8%2013q-7-4-12-4a7%207%200%200%200-4%201%205%205%200%200%200-2%204%206%206%200%200%200%201%204%2027%2027%200%200%200%205%205%2023%2023%200%200%201%206%208%2017%2017%200%200%201%202%209ZM557%20332h-17l16-50h-14l5-14h45l-5%2014h-14Z%22%2F%3E%3Cpath%20class%3D%22f93ea126%22%20d%3D%22M106%20116h75V88l-75%2028z%22%2F%3E%3Cpath%20style%3D%22fill%3A%2368c5ed%22%20d%3D%22M181%2088v100l35-113-35%2013z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23044d80%22%20d%3D%22M181%20116h-28l28%2072v-72z%22%2F%3E%3Cpath%20class%3D%22ad5a52ff%22%20d%3D%22m106%20116%2054%2019-7-19h-47z%22%2F%3E%3Cpath%20class%3D%22bd87d6e4%22%20d%3D%22M277%20162a13%2013%200%200%201-2%201%2022%2022%200%200%201-3%202%2032%2032%200%200%201-6%202%2039%2039%200%200%201-8%200%2035%2035%200%200%201-14-2%2027%2027%200%200%201-10-8%2031%2031%200%200%201-6-11%2053%2053%200%200%201-2-15%2051%2051%200%200%201%202-14%2033%2033%200%200%201%206-12%2028%2028%200%200%201%2010-7%2033%2033%200%200%201%2014-3%2032%2032%200%200%201%208%201%2035%2035%200%200%201%205%201%2021%2021%200%200%201%204%202%2029%2029%200%200%201%203%202%208%208%200%200%201%201%202%205%205%200%200%201%201%203%207%207%200%200%201-2%204%2030%2030%200%200%201-3%204l-3-3a18%2018%200%200%200-3-2%2022%2022%200%200%200-4-2%2020%2020%200%200%200-6%200%2017%2017%200%200%200-9%202%2017%2017%200%200%200-5%205%2024%2024%200%200%200-3%208%2043%2043%200%200%200-1%209%2046%2046%200%200%200%201%209%2022%2022%200%200%200%203%208%2017%2017%200%200%200%206%206%2018%2018%200%200%200%209%202%2018%2018%200%200%200%205-1%2021%2021%200%200%200%204-2%2022%2022%200%200%200%203-2l3-2%201%202a26%2026%200%200%201%202%202%2018%2018%200%200%201%201%202%205%205%200%200%201%200%202%205%205%200%200%201%200%203%2010%2010%200%200%201-2%202M330%20154q0%208%202%2012a20%2020%200%200%201-3%201%2017%2017%200%200%201-3%200%209%209%200%200%201-6-1%207%207%200%200%201-3-4%2019%2019%200%200%201-6%204%2022%2022%200%200%201-9%201%2021%2021%200%200%201-5%200%2015%2015%200%200%201-5-3%2013%2013%200%200%201-4-5%2016%2016%200%200%201-1-7%2014%2014%200%200%201%202-9%2018%2018%200%200%201%207-5%2028%2028%200%200%201%208-3%2076%2076%200%200%201%208%200l2-1h3v-1q0-4-3-6t-6-2a20%2020%200%200%200-8%202%2065%2065%200%200%200-7%203%2016%2016%200%200%201-2-4%2010%2010%200%200%201-1-3%204%204%200%200%201%201-3%2016%2016%200%200%201%205-2%2036%2036%200%200%201%206-2%2041%2041%200%200%201%208-1%2034%2034%200%200%201%209%201%2015%2015%200%200%201%206%204%2014%2014%200%200%201%204%206%2031%2031%200%200%201%201%208Zm-13-12h-2a10%2010%200%200%200-1%200h-5a14%2014%200%200%200-5%202%209%209%200%200%200-3%203%207%207%200%200%200-1%204%208%208%200%200%200%202%205q1%202%205%202a13%2013%200%200%200%204-1%2012%2012%200%200%200%203-1%208%208%200%200%200%202-2%203%203%200%200%200%201-2ZM356%20121a19%2019%200%200%201%205-4%2017%2017%200%200%201%208-2%2020%2020%200%200%201%208%201%2016%2016%200%200%201%206%205%2021%2021%200%200%201%204%207%2038%2038%200%200%201%202%2012%2041%2041%200%200%201-2%2014%2023%2023%200%200%201-5%208%2016%2016%200%200%201-6%204%2021%2021%200%200%201-8%202%2018%2018%200%200%201-5-1%2021%2021%200%200%201-4-2%2010%2010%200%200%201-2-1%2010%2010%200%200%201-1-1v25h-14v-71l1-1h4a13%2013%200%200%201%206%201%205%205%200%200%201%203%204m18%2019a32%2032%200%200%200-1-5%2014%2014%200%200%200-1-5%208%208%200%200%200-3-3%2010%2010%200%200%200-5-1l-6%201a5%205%200%200%200-2%204v22a13%2013%200%200%200%203%202%2010%2010%200%200%200%205%201%208%208%200%200%200%208-4q2-4%202-12M399%20158a18%2018%200%200%201%200-4l-1-5v-48h5a17%2017%200%200%201%203%200%208%208%200%200%201%203%201%207%207%200%200%201%202%203%209%209%200%200%201%201%204v7h15v11h-15v22q0%207%206%207a8%208%200%200%200%203%200%2016%2016%200%200%200%202-1%2012%2012%200%200%200%202-1%2011%2011%200%200%200%201-1%2036%2036%200%200%201%202%204%207%207%200%200%201%201%203%204%204%200%200%201-1%203%2011%2011%200%200%201-3%202%2019%2019%200%200%201-5%202%2026%2026%200%200%201-6%200q-6%200-10-2a13%2013%200%200%201-5-7M462%20157a16%2016%200%200%200%205-1%2018%2018%200%200%200%203-1%2014%2014%200%200%200%203-2l2-2a28%2028%200%200%201%202%204%209%209%200%200%201%202%204c0%202-1%203-3%205a19%2019%200%200%201-6%202%2032%2032%200%200%201-9%202%2037%2037%200%200%201-10-2%2021%2021%200%200%201-8-4%2023%2023%200%200%201-6-8%2034%2034%200%200%201-2-14%2029%2029%200%200%201%202-11%2023%2023%200%200%201%205-8%2021%2021%200%200%201%208-4%2026%2026%200%200%201%208-2%2024%2024%200%200%201%2010%202%2018%2018%200%200%201%207%205%2020%2020%200%200%201%203%207%2030%2030%200%200%201%201%208v5a12%2012%200%200%201%200%202h-30a17%2017%200%200%200%203%209q3%204%2010%204m5-21a15%2015%200%200%200-2-8c-1-2-4-3-7-3a8%208%200%200%200-7%203l-2%208ZM504%20121a18%2018%200%200%201%201-2%2011%2011%200%200%201%203-2%2016%2016%200%200%201%203-1%2012%2012%200%200%201%204-1%2019%2019%200%200%201%203%200%209%209%200%200%201%202%201%205%205%200%200%201%202%202%204%204%200%200%201%201%202%2015%2015%200%200%201-1%205%2043%2043%200%200%201-3%205%2015%2015%200%200%200-3-2%2010%2010%200%200%200-4-1%208%208%200%200%200-5%202%206%206%200%200%200-3%205v33h-14v-50l2-1h3a12%2012%200%200%201%206%202%206%206%200%200%201%203%204M544%20121a19%2019%200%200%201%201-2%2012%2012%200%200%201%203-2%2016%2016%200%200%201%203-1%2012%2012%200%200%201%204-1%2019%2019%200%200%201%202%200%209%209%200%200%201%203%201%205%205%200%200%201%202%202%204%204%200%200%201%201%202%2015%2015%200%200%201-2%205%2044%2044%200%200%201-2%205%2016%2016%200%200%200-3-2%2010%2010%200%200%200-4-1%208%208%200%200%200-6%202%206%206%200%200%200-2%205v33h-14v-50l1-1h4a12%2012%200%200%201%205%202%206%206%200%200%201%203%204M610%20154q0%208%203%2012a20%2020%200%200%201-4%201%2017%2017%200%200%201-3%200%209%209%200%200%201-6-1%207%207%200%200%201-2-4%2019%2019%200%200%201-6%204%2022%2022%200%200%201-9%201%2021%2021%200%200%201-6%200%2015%2015%200%200%201-5-3%2013%2013%200%200%201-4-5%2016%2016%200%200%201-1-7%2014%2014%200%200%201%203-9%2018%2018%200%200%201%206-5%2028%2028%200%200%201%208-3%2076%2076%200%200%201%208%200l3-1h2v-1l-2-6-7-2a20%2020%200%200%200-8%202%2066%2066%200%200%200-7%203%2015%2015%200%200%201-2-4%2010%2010%200%200%201-1-3%204%204%200%200%201%202-3%2016%2016%200%200%201%204-2%2036%2036%200%200%201%206-2%2041%2041%200%200%201%208-1%2034%2034%200%200%201%209%201%2015%2015%200%200%201%207%204%2013%2013%200%200%201%203%206%2031%2031%200%200%201%201%208Zm-13-12h-1a10%2010%200%200%200-2%200h-5a14%2014%200%200%200-4%202%209%209%200%200%200-4%203%207%207%200%200%200-1%204%208%208%200%200%200%202%205q1%202%205%202a13%2013%200%200%200%204-1%2012%2012%200%200%200%203-1%208%208%200%200%200%202-2%203%203%200%200%200%201-2ZM321%20458h-39v-9l13-13%207-8a18%2018%200%200%200%203-4%208%208%200%200%200%200-3%204%204%200%200%200-1-3%205%205%200%200%200-4-2%2010%2010%200%200%200-5%202%2036%2036%200%200%200-5%204l-8-9a43%2043%200%200%201%207-5%2024%2024%200%200%201%206-3%2030%2030%200%200%201%207-1%2022%2022%200%200%201%209%202%2014%2014%200%200%201%206%205%2013%2013%200%200%201%203%208%2019%2019%200%200%201-3%2011%2036%2036%200%200%201-5%205l-11%2011h20ZM364%20432q0%2014-5%2020t-14%207q-10%200-15-7t-5-20q0-14%205-21t15-7q9%200%2014%207t5%2021Zm-24%200%201%2012q1%203%204%204%202%200%203-4t1-12l-1-13q-1-4-3-3c-2%200-3%201-4%203l-1%2013ZM405%20458h-38v-9l13-13%207-8a17%2017%200%200%200%203-4%208%208%200%200%200%200-3%204%204%200%200%200-1-3%206%206%200%200%200-4-2%2010%2010%200%200%200-5%202%2037%2037%200%200%200-6%204l-8-9a42%2042%200%200%201%207-5%2025%2025%200%200%201%206-3%2030%2030%200%200%201%208-1%2022%2022%200%200%201%209%202%2014%2014%200%200%201%206%205%2013%2013%200%200%201%202%208%2019%2019%200%200%201-3%2011%2036%2036%200%200%201-4%205l-12%2011h21ZM449%20458h-39v-9l13-13%207-8a17%2017%200%200%200%203-4%208%208%200%200%200%200-3%204%204%200%200%200-1-3%205%205%200%200%200-4-2%2010%2010%200%200%200-5%202%2036%2036%200%200%200-6%204l-8-9a42%2042%200%200%201%207-5%2024%2024%200%200%201%206-3%2030%2030%200%200%201%208-1%2022%2022%200%200%201%209%202%2014%2014%200%200%201%206%205%2013%2013%200%200%201%203%208%2019%2019%200%200%201-4%2011%2036%2036%200%200%201-4%205l-12%2011h21Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
    background-size: 86px;
    
    background-repeat: no-repeat;
    background-position: 0 0;

}
#tracker>div:nth-child(3){
    background-color: #000;
    background: url("https://www.cogendo.com/wp-content/uploads/2021/03/software-advice-5-star.png");
    background-size: 88px;
    background-position: 0 0;
    background-repeat: no-repeat;

        }
#tracker>div:nth-child(4){
    background-color: #000;
    background: url("https://www.trustradius.com/wp-content/uploads/2019/12/2020-top-rated-awards.png");
    background-size: 88px;
    background-position: 0 0;
    background-repeat: no-repeat;

        }
#tracker>div:nth-child(5){
    background-color: #000;
    background: url("https://www.cogendo.com/wp-content/uploads/2021/03/software-advice-5-star.png");
    background-repeat: no-repeat;
    background-size: 88px;
    background-position: 0 0;

        }
#tracker>div:nth-child(6){
    background-color: #000;
    background: url("https://www.concordnow.com/wp-content/uploads/2020/02/capterra-top-20-2.jpg");
    background-repeat: no-repeat;
    background-size: 88px;
    background-position: 0 0;

        }
#tracker>div:nth-child(7){
    background-color: #000;
background: url("https://blog-cdn.everhour.com/assets/images/new-design/icons/sprite-badges.png");
background-size: 167px;
background-position: 0 0;

        }
#tracker>div:nth-child(8){
    background-color: #000;
background: url("https://seeklogo.com/images/G/getapp-category-leaders-2022-logo-FEBDB629C4-seeklogo.com.png");
background-size: 167px;
background-position: 0 0;

        }
#tracker>div:nth-child(9){
    background-color: #000;
background: url("https://www.tanaza.com/wp-content/uploads/2022/03/capterra-shortlist-2022-tanaza.jpg");
background-size: 87px;
background-repeat: no-repeat;
background-position: 0 0;

        }
#tracker>div:nth-child(10){
    background-color: #000;
background: url("https://www.concordnow.com/wp-content/uploads/2020/02/capterra-top-20-2.jpg");
background-size: 87px;
background-repeat: no-repeat;
background-position: 0 0;

        }