#main_c{
  width: 100%;
  height: 634px;
  border: 0px solid red;
  margin-top: 20px;
  background-color: #151616;
}
#inner_part{
  width: 95%;
  height: 510px;
  border: 0px solid red;
  margin: auto;
  display: flex;
}
#inner_part>.inner_col{
width: 190px; 
height: 451px; 
  border: 0px solid red;
  margin: auto;
  margin-top: 50px;
  /* color: white; */
}
#inner_part>div:nth-child(1){
  margin-left: 67px;
}
#inner_part>img{
  width: 43px;
  height: 47px;
  margin-top: 50px;
}

.inner_col>h3{
  color:gray;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.inner_col>p>a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.inner_col>p>a:hover{
  color:gray;
}
#last_part{
  width: 90%;
  height: 100px;
  border: 0px solid red;
  margin: auto;
  display: flex;
  /* margin-top: 20px; */
  /* background-color: #151616; */
}
#last_part>div{
  border: 0px solid red;
  width: 50%;
  display: flex;
  /* justify-content: flex-end; */
  font-size: 8px;
  color: white;
  align-items: flex-start;
  font-weight: 20px;

}
#last_part>div:nth-child(2){
  background-color: #151616;
  align-items: flex-end;
  justify-content: flex-end;
}
#last_part>div:nth-child(2)>span{
  margin-bottom: 78px;
  padding-left: 10px;
}


