#content{
    display: grid;
    position: relative;
    width: 60%;
    justify-content: center;
    top: 20vh;
    left: 20vw;
    font-family: sans-serif;
}
#content h3{
    color: gray;
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    font-weight: lighter;
    
   
}
#content p{
    color: gray;
    font-size: 18px;
    line-height: 25px;
    
}
#content h1{
    text-align: center;
    font-weight: lighter;
    
}
#content img{

    
    margin: 0 30% 0 30%;
}
#content h2{
    font-weight: lighter;
}